:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --grey: rgb(184, 184, 184);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white);
} 

.ant-form {
  width: 700px;
    transform: translate(-15%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign__wrapper {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    gap: 20px;
}
.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #000000b3;
}

.header__button {
  display: flex;
  gap: 15px;
  margin-right: 15px;
}

.header__logo {
  font-size: 25px;
  margin-left: 25px;
  color: #41a6ffc9;
  font-weight: 600;
}

.header__user {
  display: flex;
    align-items: center;
    font-size: 20px;
    color: #91bcfcba;
    margin-bottom: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ant-dropdown-trigger{
  font-size: 18px;
  color: #0088ff;
  font-weight: 400;
  height: 24px;
}

.estimate__wrapper {
  display: flex;
  flex-direction: column;
}


.estimate__wrapper .ant-form {width: 600px;
transform: translate(5%, 0%);
display: flex;
flex-direction: column;}

.estimate__wrapper h1 {
  margin-left: 32px;
}

.ant-col-offset-8 {
  margin-left: 0;
}
